<p>tarjeta-form works!</p>

<form *ngIf="form" [formGroup]="form" class="p-4 border rounded bg-light">
  <div class="mb-3">
    <label class="form-label">Número</label>
    <input class="form-control" formControlName="numero" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Nombre Titular</label>
    <input class="form-control" formControlName="nombreTitular" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Vencimiento</label>
    <input class="form-control" formControlName="vencimiento" required />
  </div>
  <div class="mb-3">
    <label class="form-label">CVV</label>
    <input class="form-control" formControlName="cvv" required />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid || loading">Guardar</button>
  <div *ngIf="error" class="mt-2">
    <span class="text-danger small">{{ error | escapeCurlyBraces }}</span>
  </div>
</form>
